<h1>ユーザー新規登録</h1>

<%= form_with url: users_path, local: true do |f| %>

    <div class="field">
        <%= f.label :name, "名前" %><br>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :email, "メールアドレス" %><br>
        <%= f.email_field :email %>
    </div>

    <div class="field">
        <%= f.label :password, "パスワード" %><br>
        <%= f.password_field :password %>
    </div>
    
    <%= f.submit "新規ユーザー登録" %>

<% end %>

    <%= button_to "ログイン", login_path, method: :get %>