<h1>ユーザー編集</h1>

<%= form_with url: admin_user_path, local: true do |f| %>

    <div class="field">
        <%= f.label :name, "名前" %><br>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :email, "メールアドレス" %><br>
        <%= f.email_field :email %>
    </div>

    <div class="field">
        <%= f.label :password, "パスワード(8文字以上)" %><br>
        <%= f.password_field :password %>
    </div>
    
    <%= f.submit "編集する" %>

<% end %>